.cartcheckout {

  text-align: center;

  &__title {
    text-align: center;
  }

  &__section {
    padding-top: 20px;
    position: relative;
    z-index: 10;
    background-color: white;
    min-height: 100vh;
  }

  &__submit {
    background-color: $colorPrincipal;
    color: white;
    border: none;
    padding: 13px;
    padding-top: 15px;
    margin: 30px 0px;
    border-radius: 10px;
  }

}