

.cartwidget {
  position: relative;

  & div {
    position: absolute;
    width: 40px;
    background-color: white;
    text-align: center;
    top: -120%;
    width: 70%;
    padding: 2px 5px;
    color: #FC8A17;
  }


}


