.cartcheckout {

  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
  }

  &__section {
    padding-top: 20px;
    position: relative;
    z-index: 10;
    background-color: white;
    min-height: 100vh;
  }

  &__submit {
    background-color: $colorPrincipal;
    color: white;
    border: none;
    padding: 13px;
    padding-top: 15px;
    margin: 0 40%;
  }

}