.editproductform {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;



  &__cancel {
    margin-top: 20px;
    cursor: pointer;
    background-color: rgba(0,0,0,.12);
    color: black;
  }

  &__text {
    text-align: center;
  }

  & div {
    display: flex;
    flex-direction: row;

    & input {
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  &__label {
    font-weight: 700;
    margin-top: 10px;

    &__constock {
      fill: green;
    }

    &__commecistock {
      fill: #FFC30B;
    }

    &__nostock {
      fill: #EA3C53;
    }
  }


  &__submit {
    margin-top: 20px;
    cursor: pointer;
  }
}