

.pagination {
  display: inline-flex;
  verical-align:middle;
  flex-direction: row;
  justify-content: center;
  & svg {
    color: #9f0059;
    width: 100%;
    height: 30px;
    cursor: pointer;
  }

  &__content {
    font-size: 20px;

    &__item {
      padding: 0px 10px;
      cursor: pointer;
    }

    &__selecteditem {
      color: #9f0059;
    }
  }
}




@media screen and (max-width: 770px) {
  .pagination__content {
    display: none;
  }
}