

/*  Remember that there is this !important   */
td[data-title="Laboratorio"],
td[data-title="Monodroga"]{
  text-align: left !important;
}

td[data-title="Descuento Público"],
td[data-title="Su Descuento"],
td[data-title="Precio"],
td[data-title="Precio Con Descuento"]{
  text-align: center !important;
}




.product {

  &_image {
    cursor: pointer;
    transform: translateY(0.5px) translateX(-4px);

    &_pami {
      margin-left: 10px;
      vertical-align: middle;
      transform: translateY(-1.7px);
    }

    &_edit {
      cursor: pointer;
      width: 20px;
      height: 20px;
      transform: translateY(3px) translateX(4px);
    }
  }


  &_quantity{
    display: flex;
    justify-content: center;

    & button{
      background-color: transparent;
      border: none;

    }

    & input {
      width: 80%;
      text-align: center;
    }

    &_cancel{
      position: relative;
    }

    &_pending{
      position: relative;
    }

    &_check{
      position: relative;
    }

    &_cancel svg {
      fill: red;
    }

    &_pending svg{
      fill: yellow;
    }
    &_check svg{
      fill: limegreen;
    }
  }


}




@media screen and (max-width: 770px){
  .product{
    & td[data-title="Cantidad"]{
      display: flex;
      align-items: center;
    }

    &_image_edit {
      transform: translateY(2.8px) translateX(4px);
    }

    &_quantity{
      justify-content: flex-end;
      width: 100%;

      & input {
        width: 25%;
      }


      &_cancel svg {
        width: 40px;
        height: 20px;
      }
      &_pending svg{
        width: 40px;
        height: 20px;
      }
      &_check svg{
        width: 40px;
        height: 20px;
      }
    }

    & td:nth-of-type(4):before{

    }


  }


  td[data-title="Laboratorio"],
  td[data-title="Monodroga"]{
    text-align: end !important;
  }


  td[data-title="Descuento Público"],
  td[data-title="Su Descuento"],
  td[data-title="Precio"],
  td[data-title="Precio Con Descuento"]{
    text-align: end !important;
  }
}