.searchbar{
  margin-top: 20px;

  &_form{
    display: flex;
    margin-left: 20px;

    &_input{
      padding: 14px;

      border: solid 1px #686868;
      font-size: 14px;

      &:hover{
      }
    }

    &_span{
      margin-left: 50px;
      align-self: center;
      transition: border-bottom 0.2s;

      &:hover{
        cursor: pointer;
        border-bottom: 2px solid $colorPrincipal;
      }
    }

    &_advanced{
      display: flex;
      align-self: center;
      margin-left: 10%;

      & input {

      }
      & label {
        padding: 0px 10px;
      }
    }

    &_submit{
      background-color: $colorPrincipal;
      color: white;
      border: none;
      padding: 13px;
      padding-top: 15px;
      transform: translateY(2px);
    }
  }
}


@media screen and (max-width: 770px){
  .searchbar {
    &_form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0;


      &_advanced {
        margin-left: 0px;
        margin-top: 10px;
      }

      &_submit {
        padding: 13px;
        padding-top: 15px;
        transform: translateY(2px);
        background-color: $colorPrincipal;
        color: white;
      }
    }
  }
}