@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

textarea, select, input, button:focus {
  outline-color: transparent;
  outline-style: none;
}


body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', Arial;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: #FC8A17;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #FC8A17;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #FC8A17;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: none;
}

.searchbar_form_advanced input[type="radio"]:checked + label {
  color: #FC8A17;
  font-weight: bold;
}

.addproductform input[type="radio"]:checked + label {
  color: #FC8A17;
  font-weight: bold;
}


